.contenu__ex-5{
    flex-direction: column;
    justify-content: center;
    .bee-container{
        margin-top: 2rem ;
        display: flex;
        flex-wrap: wrap;
    }
    .add-egg{
        border: none;
        width: 25%;
        color: white;
        background-color: rgb(0, 187, 0);
    }
}