*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
font-size: 62.5%;
}

.body--container{
    width: 80%;
    margin-inline: auto;
    margin-top: 5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}